<div class="content__inner">
    <div class="col">
        <h3>{{ header }}</h3>
        <p>{{ message }}</p>
        <a class="email">{{ email }}</a>
        <a href="{{ instagram }}">Instagram</a>
        <a href="{{ facebook }}">Facebook</a>
    </div>
    <div class="col">
        <h3>NEW YORK CITY</h3>
        <div class="time" id="clock">00:00:00</div>
        <div class="time" id="timezone">EDT</div>
    </div>
    <div class="close icon icon-x" data-action="2"></div>
</div>