{% load static %}
<div id="agency" style="display:none;">
    <div class="slide">
        {% if agency_video|length %}
        <div class="video-wrap">
            <video class="video" playsinline autoplay muted loop poster={{agency_video|add:'.jpg'}}>
            </video>
        </div>
        {% endif %}
        <p class="about">Neuro is a creative agency harnessing advanced technologies to create a sustainable future for the Fashion Industry</p>
        <a id="contact--agency" data-action="2">CONTACT</a>
    </div>
    <div class="slide" style="top: {{ agency_offsets_1 }}00%">
        {% include 'services/services.html' %}
    </div>
    <div class="slide" style="top: {{ agency_offsets_2 }}00%">

    {% for project in project_list  %}
    <div class="slide" style="top:{{agency_offsets_2|add:forloop.counter}}00%">
            <div class="content__inner--scroll">
                <div class="col">
                    <h2>{{ project.name }}</h2>
                    <p>{{ project.description }}</p>
                </div>
                {% for image in project.projectimage_set.all %}
                    <img src="{{ image.image.url }}">
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="slide" style="top: {{ agency_offsets_3 }}00%">
        {% include "profiles/team.html" %}
    </div>
</div>