{% load static %}

<div id="agency">
    <div class="slide">
        <div class="video-wrap">
            <video class="video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" poster="{% static 'vid-b.jpg' %}">
                <source src="{% static 'vid-b.mp4' %}" type="video/mp4" />
                <source src="{% static 'vid-b.webm' %}" type="video/webm" />
            </video>
        </div>
        <div class="about">Neuro is a creative agency harnessing advanced technologies to create a sustainable future for the Fashion Industry</div>
        <a
            id="contact--agency" data-action="2">CONTACT</a>
    </div>
    <div class="slide" style="top: {{ agency_offsets_1 }}00%">
        {% include 'services/services.html' %}
    </div>
    <div class="slide" style="top: {{ agency_offsets_2 }}00%">

    {% for project in project_list  %}
    <div class="slide" style="top:{{agency_offsets_2|add:forloop.counter}}00%">
            <div class="content__inner--scroll">
                <div class="col">
                    <h2>{{ project.name }}</h2>
                    <p>{{ project.description }}</p>
                </div>
                {% for image in project.projectimage_set.all %}
                    <img src="{{ image.image.url }}">
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="slide" style="top: {{ agency_offsets_3 }}00%">
        {% include "profiles/team.html" %}
    </div>
</div>