{% load static %}
<div id="collection" style="display:none;">
    <div class="slide">
        {% if collection_video|length %}
        <div class="video-wrap">
            <video class="video" playsinline autoplay muted loop poster={{collection_video|add:'.jpg'}}>
            </video>
        </div>
        {% endif %}
        <a id="contact--collection" data-action="2">CONTACT</a>
    </div>
    <div class="slide" style="top: 100%">
        campaign
    </div>
    <div class="slide" style="top: {{ collection_offsets_1 }}00%">
        {% include "products/thumbnails.html" %}
    </div>
    <div class="slide" style="top: {{ collection_offsets_2 }}00%">
        {% include "story.html" %}
    </div>
    <div class="slide" style="top: {{ collection_offsets_3 }}00%">
        {% include "press/press.html" %}
    </div>
</div>