{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>neuro</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    {% include 'home.html' %}
    <div id="wrap">
        <div id="content">
            {% include 'collection.html' %}
            {% include 'agency.html' %}
        </div>
    </div>
    {% include 'nav.html' %}
    <div id="lift">
        <div id="lift__up" data-action="10"></div>
        <div id="lift__content">
            {% include 'contact.html' %}
            {% include 'products/details.html' %}
        </div>
        <div class="close icon icon-x" data-action="10"></div>
    </div>
    {% include 'vars.html' %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>