<div id="nav--top">
    <a class="nav__link" id="logo" data-action="0" data-id="2"></a>
</div>
<div id="nav--left">
    <a class="nav__link--side" data-action="0" data-id="0">AGENCY</a>
    <div class="subnav" id="subnav--agency">
        <div class="subnav__item">
            <a class="subnav__link subnav__link--active" data-action="1" data-id="0">ABOUT</a>
        </div>
        <div class="subnav__item">
            <a class="subnav__link" data-action="1" data-id="1">SERVICES</a>
        </div>
        <div class="subnav__item">&nbsp;</div>
        <div class="subnav__item">
            <a class="subnav__link" data-action="1" data-id="2">WORK</a>
        </div>
        <div class="subnav__item">
            <a class="subnav__link" data-action="1" data-id="3">TEAM</a>
        </div>
    </div>
</div>
<div id="nav--right">
    <a class="nav__link--side" data-action="0" data-id="1">COLLECTION</a>
    <div class="subnav" id="subnav--collection">
        <div class="subnav__item">
            <a class="subnav__link subnav__link--active" data-action="1" data-id="0">CAMPAIGN</a>
        </div>
        <div class="subnav__item">
            <a class="subnav__link" data-action="1" data-id="1">PRODUCTS</a>
        </div>
        <div class="subnav__item">&nbsp;</div>
        <div class="subnav__item">
            <a class="subnav__link" data-action="1" data-id="2">STORY</a>
        </div>
        <div class="subnav__item">
            <a class="subnav__link" data-action="1" data-id="3">PRESS</a>
        </div>
    </div>
</div>
<a id="nav--contact" data-action="2">CONTACT</a>