<div class="content__inner--stack">
    <div class="slide__inner">
        <div class="staff">
            <img class="staff__photo" />
            <div class="staff__name">Clement Balavoine</div>
            <div class="staff__title">FOUNDER / CCO</div>
        </div>
        <div class="staff">
            <img class="staff__photo" />
            <div class="staff__name">Janis Sne</div>
            <div class="staff__title">CREATIVE DIRECTOR</div>
        </div>
        <div class="staff">
            <img class="staff__photo" />
            <div class="staff__name">Bianca Bennett</div>
            <div class="staff__title">BUSINESS MANAGER</div>
        </div>
        <div class="staff">
            <img class="staff__photo" />
            <div class="staff__name">Jeremy Hanover</div>
            <div class="staff__title">DESIGNER</div>
        </div>
    </div>
</div>