<div class="slide" style="top:300%">
    <div class="content__inner">
        <div class="grid">
            <div class="grid__item--wide"></div>
            <div class="grid__item"></div>
            <div class="grid__item"></div>
            <div class="grid__item"></div>
            <div class="grid__item"></div>
            <div class="grid__item"></div>
            <div class="grid__item--wide"></div>
            <div class="grid__item--wide"></div>
            <div class="grid__item"></div>
            <div class="grid__item"></div>
            <div class="grid__item"></div>
        </div>
    </div>
</div>