<div class="content__inner">
    <div class="grid">
        {% for press_item in press_list %}
            {% if press_item.item_type == 1 %}
                {% if press_item.link|length > 0 %}
                <a class="grid__item" href="{{ press_item.link }}" target="_blank">
                {% else %}
                <div class="grid__item">
                {% endif %}
                    <img src="media/{{ press_item.image }}">
                {% if press_item.link|length > 0 %}
                </a>
                {% else %}
                </div>
                {% endif %}
            {% else %}
                {% if press_item.link|length > 0 %}
                <a class="grid__item--wide" href="{{ press_item.link }}" target="_blank">
                {% else %}
                <div class="grid__item--wide">
                {% endif %}
                    <p class="press__quote">
                        {{ press_item.quote }}
                    </p>
                    <p>
                        {% if press_item.publication %}
                        <span class="press__publication">
                            {{ press_item.publication }}
                        </span>
                        {% endif %}
                        {% if press_item.author %}
                        <span class="press__author">
                            &nbsp;-&nbsp;{{ press_item.author }}
                        </span>
                        {% endif %}
                    </p>
                {% if press_item.link|length > 0 %}
                </a>
                {% else %}
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>