<div id="product__details">
    <div id="product__details__inner">
        <a class="icon icon-arrow-left" id="product--prev" data-action="5" data-id="0"></a>
        <div id="turner" data-action="4">
            <img id="turner__img" />
        </div>
        <h2 id="product__name"></h2>
        <div class="toggles">
            <a id="product__description" class="action action--active" style="margin-right: 20px" data-action="6" data-id="0">DESCRIPTION</a>
            <a id="product__materials" class="action" data-action="6" data-id="1">MATERIALS</a>
        </div>
        <div id="product__info"></div>
        <div id="product__share">
            <a class="action" data-action="7" data-id="0">SHARE</a>
            <div id="share-buttons">
                <a class="icon icon-pinterest" data-action="7" data-id="1"></a>
                <a class="icon icon-facebook" data-action="7" data-id="2"></a>
                <a class="icon icon-twitter" data-action="7" data-id="3"></a>
            </div>
        </div>
        <div id="product__gallery">
            <img id="gallery__main" />
            <div class="gallery__item">
                <img class="gallery__thumb gallery__thumb--active" data-action="8" data-id="0" />
            </div>
            <div class="gallery__item">
                <img class="gallery__thumb" data-action="8" data-id="1" />
            </div>
            <div class="gallery__item">
                <img class="gallery__thumb" data-action="8" data-id="2" />
            </div>
            <div class="gallery__item">
                <img class="gallery__thumb" data-action="8" data-id="3" />
            </div>
            <a class="action" id="product__order" data-action="9">PREORDER</a>
        </div>
        <a class="icon icon-arrow-right" id="product--next" data-action="5" data-id="1"></a>
    </div>
</div>