<div class="content__inner">
    <div id="story__content">
        <div id="story-page--text">
            <div class="col">
                <h2></h2>
                <p></p>
            </div>
            <div class="slide__img">
                <img />
            </div>
        </div>
        <div id="story-page--slider">
            <div class="slider__top">
                <img />
                <div class="slider__bar" data-action="13"></div>
            </div>
            <img class="slider__btm"/>
        </div>

    </div>
    <ol id="story__nav">
        {% for page in storypage_list %}
        <li class="story__link" data-action="12" data-id="{{ forloop.counter0 }}">
            {{ forloop.counter }}
        </li>
        {% endfor %}
    </ol>
</div>